/target

/node_modules/
/.env

# Hardhat files
/cache/
/artifacts/

/typechain/
/typechain-types/

/coverage/
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/ignition/deployments/chain-31337/
